.login-bg {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1611186871348-b1ce696e52c9?auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.login-overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 350px;
}

.login-card h2 {
  color: #00b878;
  margin-bottom: 10px;
}

.login-card p {
  color: #555;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.login-card button {
  background-color: #00b878;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
  transition: 0.3s;
}

.login-card button:hover {
  background-color: #009e68;
}
