/* General Layout */
.app {
  font-family: "Poppins", sans-serif;
  background-color: #f7fdf9;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #00a884;
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.tagline {
  margin: 5px 0 0;
  font-size: 1rem;
  opacity: 0.9;
}

/* Form Section */
.form-section {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.product-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.product-form input {
  padding: 10px;
  width: 180px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.product-form button {
  background-color: #00a884;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.product-form button:hover {
  background-color: #00936f;
}

/* Product Cards */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 0 20px 40px;
}

.product-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  width: 220px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
  color: #333;
}

.category {
  color: #777;
  font-size: 0.9rem;
  margin: 0;
}

.price {
  font-size: 1.1rem;
  color: #00a884;
  font-weight: bold;
  margin: 8px 0;
}

.delete-btn {
  background-color: #ff5252;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: 0.3s;
}

.delete-btn:hover {
  background-color: #e60000;
}
/* Login Page */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f7fdf9;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.login-card h2 {
  color: #00a884;
  margin-bottom: 20px;
}

.login-card input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-card button {
  background-color: #00a884;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}

.logout-btn {
  background-color: white;
  border: none;
  color: #00a884;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 12px;
}

.edit-btn {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
